@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600;800&family=Oswald:wght@700&display=swap');

html {
  height: 100%;
  width: 100%;
  background-image: url(lock.jpg);
}

html img {
  object-fit: cover;
}

.body {
  height: 100%;
  width: 100%;
}

span {
  font-weight: 600;
  font-family: 'Martian Mono', monospace;
}

h2 {
  width: 90%;
  padding: 10px;
  background: #fbe4e8;
  border-radius: 5px;

}

#container {
  margin: auto;
  width: 95%;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
  text-decoration-color: red;
}

p {
  font-size: 65px;
  font-weight: 900;
  text-align: center;
  word-break: break-word;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(image.avif);
  background-position: center;
  background-repeat: repeat;
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

h1 span {
  background-color: aliceblue;
  border-radius: 10px;
  padding: 2px;
}

#generate {
  padding: 5px;
  color: white;
  font-weight: 600;
  background-color: gray;
  border-radius: 15px;
  width: 90%;
  text-align: center;
  margin: auto;
}

#button-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

button {
  height: 70px;
  border: white 2px solid;
  border-radius: 10px;
  font-size: 25px;
  background: green;
  color: white;
  margin: 5px;
  width: 252px;
}

button:hover {
  color: black;
  background: yellow;
  cursor: pointer;
}

#result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#passwordhold {
  width: 90%;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 25px;
  padding: 10px;
  background: pink;
  color: black;
  margin-bottom: 10px;
  display: block;
  font-weight: 800;
  word-break: break-word;
}

#result {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.guide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
}

#btn {
  display: none;
  background-color: green;
  color: white;
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 40px;
  width: 100px;
  margin: 0 auto;
  cursor: pointer;
}

#btn:hover {
  background-color: brown;
}


@media screen and (width <=650px) and (width > 390px) {
  button {
    width: 270px;
  }

  h2 {
    margin: 0;
    width: 90%;
  }

  #button-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #container {
    width: 95vw;
    margin: auto;
  }
}

@media screen and (width <=390px) and (width > 270px) {
  #container {
    width: 90vw;
    margin: auto;
  }

  #button-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  h1 span {
    font-size: 25px;
  }

  button {
    width: 100%;
    height: 70px;
  }
}

@media screen and (width <=270px) {
  #container {
    width: 90vw;
    margin: auto;
  }

  p {
    font-size: 35px;
  }

  h1 span {
    font-size: 20px;
  }

  #button-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-left: 8px;
  }

  button {
    padding: 2px;
    margin: 0;
    margin-top: 5px;
    font-size: 20px;
    max-width: 80vw;
    height: 70px;
  }
}
